<!-- File: templates/home.html -->
{% extends 'base.html' %} {% block content %}

<div id="topic_table">
{% include 'partials/topics_partial.html' %}
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal()">&times;</span>
    <h2 class="text-2xl font-bold mb-6 text-blue-500">Elegir la nueva fecha de cierre</h2>
    <!-- Agrega aquí el campo para elegir la fecha -->
    <form method="post" action="{{ url_for('reopen_topic') }}">
      <input type="hidden" id="topic_id" name="topic_id" value="">
      <input type="date" id="close_date" name="close_date">
      <div class="modal-buttons">
        <button class="btn bg-primarytext-primary text-white border-0 py-3 px-6 rounded" type="submit">Guardar</button>
        <button class="btn bg-primarytext-primary text-white border-0 py-3 px-6 rounded" type="button" onclick="closeModal()">Cancelar</button>
      </div>
    </form>    
  </div>
</div>

<div id="modalVotation"></div>
<div id="modalResultados"></div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var celdasFecha = document.querySelectorAll(".fecha-celda");

    celdasFecha.forEach(function (celda) {
      var fechaISO = celda.textContent;

      var fecha = new Date(fechaISO);

      var dia = fecha.getDate();
      var mes = fecha.getMonth() + 1;
      var año = fecha.getFullYear();

      var fechaFormateada =
        ("0" + dia).slice(-2) + "-" + ("0" + mes).slice(-2) + "-" + año;

      celda.textContent = fechaFormateada;
    });
  });

  function openModal(id_topic) {
    console.log(id_topic);
    var modal = document.getElementById("myModal");
    document.getElementById('topic_id').value = id_topic;
    modal.style.display = "block";
  }

  function closeModal() {
    var modal = document.getElementById("myModal");
    modal.style.display = "none";
  }

  function cerrarTopic(id_topic) {

    var form = document.createElement("form");
    form.setAttribute("method", "POST");
    form.setAttribute("action", "{{ url_for('close_topic') }}");

    // Crear un campo oculto con el ID del tema
    var idInput = document.createElement("input");
    idInput.setAttribute("type", "hidden");
    idInput.setAttribute("name", "topic_id");
    idInput.setAttribute("value", id_topic);

    form.appendChild(idInput);
    document.body.appendChild(form);
    form.submit();
  }

</script>

{% endblock %}
