{% extends 'login_base.html' %}

{% block content %}

<div class="flex flex-col items-center justify-center h-screen">
  <div class="bg-white p-10 rounded-lg shadow-lg">
    <img class="w-10 h-10 mx-auto" src="{{ url_for('static', path='/logopylabar.png') }}" alt="PyLabar Logo">
    <h2 class="text-xl font-bold my-3 text-center">Pylabar - Log in</h2>
    
    {% if error %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-5" role="alert">
        <strong class="font-bold">{{ error }}</strong>
    </div>
    {% endif %}

      <h1>Hola Mundo</h1>

  </div>
</div>

{% endblock %}
