{% extends 'login-base.html' %}

{% block content %}

<div class="flex justify-center items-center h-screen">
  <form class="bg-white p-10 rounded-lg shadow-lg" action="" method="POST">
      
      <img class="w-10 h-10" src="../static/logo_alabar.png">
      <span class="text-xl font-bold ml-auto"><span class="alabar-title">Alabar</span> - Log in</span>
      
      {% if error %}
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-5" role="alert">
          <strong class="font-bold">{{ error }}</strong>
      </div>
      {% endif %}
      <div class="mb-5">
          <label class="block font-bold mb-2" for="user_code">User</label>
          <input class="w-full px-3 py-2 border border-gray-300 rounded" type="text" name="user_code" id="user_code" required>
      </div>
      <div class="mb-5">
          <label class="block font-bold mb-2" for="password">Password</label>
          <input class="w-full px-3 py-2 border border-gray-300 rounded" type="password" name="password" id="password" required>
      </div>
      <div class="text-center">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" type="submit">Log in</button>
      </div>
  </form>
</div>

{% endblock %}