<div class="modal-votacion">
    <div class="modal-content">
        <a href="/home" class="close">&times;</a>
        <h2 class="text-2xl font-bold mb-6 text-blue-500">{{ topic.title }}</h2>
        <!-- Agrega aquí el campo para elegir la fecha -->
        <form method="post" action="{{ url_for('create_vote') }}">
            <input type="hidden" id="id_topic" name="id_topic" value="{{topic.id}}">
            <ol class="emoji-list">
                <li><label><input type="radio" name="vote" value="1"><span class="emoji-large"> &#x1F604;</span></label></li>
                <li><label><input type="radio" name="vote" value="2"><span class="emoji-large"> &#x1F642;</span></label></li>
                <li><label><input type="radio" name="vote" value="3"><span class="emoji-large"> &#x1F610;</span></label></li>
                <li><label><input type="radio" name="vote" value="4"><span class="emoji-large"> &#x1F614;</span></label></li>
                <li><label><input type="radio" name="vote" value="5"><span class="emoji-large"> &#x1F62D;</span></label></li>
            </ol>

            <!-- Botones -->
            <div class="modal-buttons">
                <button hx-params="vote, id_topic" class="btn bg-blue-500 text-white border-0 py-3 px-6 rounded" type="submit">Votar</button>
                <a href="/home" class="btn bg-blue-500 text-white border-0 py-3 px-6 rounded">Cancelar</a>
            </div>
        </form>   
    </div>
</div>

<style>
     .modal-votacion {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.3s ease;
    visibility: visible; 
    pointer-events: auto;
  }

  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto; /* Centra el modal horizontalmente */
  }

  /* Estilo para el botón de cerrar */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #333;
  }

  /* Estilo para los botones */
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  .emoji-large {
        font-size: 1.5em;
    }
</style>