{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto px-4">
  <form action="/api/topics/create" hx-post="/api/topics/create" hx-target="#response" hx-swap="outerHTML">
    <div class="flex flex-col items-center justify-center">
      <div class="mb-4">
        <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Choose a title:</label>
        <input type="text" id="title" name="title" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
      </div>
      <div class="mb-4">
        <label for="close_date" class="block text-gray-700 text-sm font-bold mb-2">Choose a closing date:</label>
        <input type="date" id="close_date" name="close_date" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Tu equipo seleccionará un emOJI</label>
        <div class="flex items-center">
          <input type="radio" id="emoji1" name="emoji" value="happy" class="mx-2">
          <label for="emoji1">😊</label>
          <input type="radio" id="emoji2" name="emoji" value="satisfied" class="mx-2">
          <label for="emoji2">😐</label>
          <input type="radio" id="emoji3" name="emoji" value="unsatisfied" class="mx-2">
          <label for="emoji3">😞</label>
        </div>
      </div>
      <div id="response"></div>
      <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Save</button>
        <a href="{{ url_for('new_topic') }}" class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800">Cancel</a>
      </div>
    </div>
  </form>
</div>
{% endblock %}
